body {
    background-color: #b4b6c7
}

.nav-pills {
    margin-top: 1%;
    background-color: rgb(41, 32, 35);
    margin-right: auto;
    font-size: 18px;
}

h2 {
    text-align: center;
    width: 300px;
    border: 5px solid rgb(87, 9, 177);
    border-radius: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 20px;
    margin-left: 5%;
}

h3 {
    text-align: center;
}

h4 {
    text-decoration: underline;
}

.name {
    margin-left: 3%;
}

.name1 {
    margin-left: 3%;
}

.email {
    margin-left: 3%;
}

.email1 {
    margin-left: 3%;
}

p {
    font-size: 18px;
    margin-left: 3%;
}